/* 스타일을 정의하는 CSS 파일 */
/* styles.css */

/* 네비게이션바 스타일 */
header nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #555;
}

/* 사이드바 스타일 */
#sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    min-width: 200px;
}

#sidebar h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    margin-bottom: 5px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
}

/* 콘텐츠 스타일 */
#content {
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* 풋터 스타일 */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
